:root {
	--color-primary: #55904e;
	--font-secondary: Jost, sans-serif;
	--shadow-xs: 0.5rem 0.5rem 1rem 0rem rgba(0 0 0 / 5%);
	--shadow-light: 0 -0.2rem 4.5rem -2rem rgba(0 0 0 / 30%);

	/* Endpoints */
	--xl: 1920px;
	--lg: 1600px;
	--md: 1300px;
	--sm: 900px;
	--xs: 600px;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: Roboto, sans-serif;
	font-size: 62.5%;
}

@media screen and (max-width: 1600px) {
	html,
	body {
		font-size: 60%;
	}
}

@media screen and (max-width: 1300px) {
	html,
	body {
		font-size: 57.5%;
	}
}

@media screen and (max-width: 900px) {
	html,
	body {
		font-size: 55%;
	}
}

@media screen and (max-width: 600px) {
	html,
	body {
		font-size: 52.5%;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Custom scrollbar */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #55904e;
}

/* ======================== 
Swiper carousel - override using !important
=========================== */

/* Big carousel */
.swiper-button-next,
.swiper-button-prev {
	background-color: rgba(255 255 255 / 30%);
	border-radius: 50%;
	width: 4rem !important;
	height: 4rem !important;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.5;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
	opacity: 1;
}

.swiper-button-next {
	background-image: url("/icons/next.svg");
	right: 4rem !important;
}

.swiper-button-prev {
	background-image: url("/icons/prev.svg");
	left: 4rem !important;
}

@media screen and (max-width: 600px) {
	.swiper-button-next {
		right: 2rem !important;
	}

	.swiper-button-prev {
		left: 2rem !important;
	}
}

.left {
	left: 2rem !important;
}
.right {
	right: 2rem !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
	display: none;
}

.swiper-pagination {
	width: auto !important;
	left: 3rem !important;
	bottom: 3rem !important;
}

.swiper-pagination-bullet {
	background-color: #fff !important;
	width: 1rem !important;
	height: 1rem !important;
}

.swiper-pagination-bullet-active {
	background-color: var(--color-primary) !important ;
}
